.mimicry-box {
  position: relative;
  text-align: center;
  margin: 0 auto;
  color: cadetblue;
  border-radius: 10px;
  background: #d8d8d6;
  box-shadow: 20px 20px 60px #b6b7b5, -20px -20px 60px #f9faf7;
}

.mimicry-box input,
button {
  top: 5%;
  position: inherit;
}

.mimicry-box input {
  width: 80%;
  height: 90%;
  padding: 0 0.7rem;
  border: 0px solid silver;
  outline: #d8d8d6;
  color: cadetblue;
  border-style: groove;
  background-color: #ebede8;

  border-top-left-radius: 0.9rem;
  border-bottom-left-radius: 0.9rem;
  border-top-right-radius: 0.1rem;
  border-bottom-right-radius: 0.1rem;
  /* transform: translate(-60%, -50%); */
}

.input-bt {
  width: 15%;
  height: 90%;
  border: 0px solid silver;

  border-top-left-radius: 0.1rem;
  border-bottom-left-radius: 0.1rem;
  border-top-right-radius: 0.9rem;
  border-bottom-right-radius: 0.9rem;
  /* transform: translate(210%, -50%); */
}

.mimicry-ul {
  margin: auto;
  position: relative;
}

.mimicry-ul li {
  list-style-type: none;

  margin-top: 1.2rem;
  height: 2rem;

  text-align: left;
  color: rgb(57, 61, 61);

  border-radius: 5px;
  background: #d8d8d6;
  box-shadow: 20px 20px 60px #b6b7b5, -20px -20px 60px #f9faf7;
  border: 0px solid silver;
}

.mimicry-ul li:hover {
  background: #d0d0ce;
  cursor: pointer;
}
